<div class="page-footer">
  <div class="container">
    <%= partial 'partials/layouts/social_links' %>
    <p class="contact-links">
      <%= link_to 'The Go99™ Story', 'https://www.facebook.com/notes/go99/origin-story/1791421667809115' %>
      <span class="hr"></span>
      <%= link_to 'Contact Us', '#contact-form' %>
      <span class="hr"></span>
      <%= link_to '1.888.988.1099', 'tel:1-888-988-1099' %>
    </p>
    <p class="terms">
      Copyright 2016 Go99™ All Rights Reserved <br class="mobile-only"><span class="hr"></span> <%= link_to 'Privacy & Terms', '/terms' %></br>
      Go99™ logo and trademark owned by<br class="mobile-only"> Surespan Digital Ltd. and are used under license.
    </p>
  </div>
</div>
