<p class="social-links">
  <% link_to 'https://www.facebook.com/TruckersGo99/', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-fb.svg' %>
  <% end %>
  <% link_to 'https://twitter.com/truckersgo99', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-tw.svg' %>
  <% end %>
  <% link_to 'https://www.linkedin.com/company/go99', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-li.svg' %>
  <% end %>
  <% link_to 'https://www.instagram.com/truckersgo99/', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-ig.svg' %>
  <% end %>
  <% link_to 'https://plus.google.com/u/0/111790556035277456878', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-gp.svg' %>
  <% end %>
  <% link_to 'https://www.youtube.com/channel/UCpxT1J5lt0JbiFFfBljQtWQ', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-yt.svg' %>
  <% end %>
  <% link_to 'https://www.snapchat.com/add/truckersgo99', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-sc.svg' %>
  <% end %>
</p>
