<ul>
  <li><%= link_to 'Terms', '/terms' %></li>
  <li><%= link_to 'Service Data Policy', '/terms/service-data-policy' %></li>
  <li><%= link_to 'User Messaging Policy', '/terms/user-messaging-policy' %></li>
  <li><%= link_to 'User Privacy Notice', '/terms/user-privacy-notice' %></li>
  <li><%= link_to 'Reputation & Feedback Policy', '/terms/reputation-feedback-user-comments-policy' %></li>
  <li><%= link_to 'Location Data Policy', '/terms/location-data-policy' %></li>
  <li><%= link_to 'Data and Privacy Policy', '/terms/data-and-privacy' %></li>
</ul>

