---
title: GO99
---

<div class="hero inverse">
  <div class="container">
    <div class="phone-demo-container"><div class="phone-demo-screen screen1"></div><div class="phone-demo"></div></div>
    <div class="sales-pitch">
      <header>
        <h1>Connecting Drivers<br> Directly to Shippers.</h1>
        <h3>Make money faster and<br> control your schedule</h3>
      </header>
      <div class="register-link">
        <a href="/register" class="btn btn-split btn-primary"><span class="btn-addon">☑</span><span class="btn-content">Register Now</span></a>
      </div>
      <div class="download-link">
        <a href="/download" class="btn btn-split btn-inverse btn-outline"><span class="btn-addon">↓</span><span class="btn-content">Download the app</span></a>
      </div>
    </div>
  </div>
</div>

<section class="tour-section">
  <div class="container">
    <h2>Put cash in your jeans with <%= image_tag 'logo-headline.png' %></h2>
    <%= image_tag 'video-tour.png', class: 'video-tour' %>
    <div class="features">
      <div class="feature">
        <%= inline_svg 'icon-nextdaypay.svg' %>
        <h3>Next Day Pay</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="feature">
        <%= inline_svg 'icon-controlworkflow.svg' %>
        <h3>Control Your Workflow</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="feature">
        <%= inline_svg 'icon-transparency.svg' %>
        <h3>Transparency</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="feature">
        <%= inline_svg 'icon-reputation.svg' %>
        <h3>Manage Your Reputation</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
  </div>
</section>

<section class="features-section inverse">
  <div class="container">
    <h2>Find out what makes <%= image_tag 'logo-hero.png' %> amazing</h2>
  </div>
</section>
