---
title: GO99
---

<div class="hero inverse">
  <div class="container">
    <div class="phone-demo-container"><div class="phone-demo-screen screen1"></div><div class="phone-demo"></div></div>
    <div class="sales-pitch">
      <header>
        <h1>Connecting Drivers<br> Directly to Shippers.</h1>
        <h3>Make money faster and<br> control your schedule</h3>
      </header>
      <div class="register-link">
        <a href="/register" class="btn btn-split btn-primary"><span class="btn-addon">☑</span><span class="btn-content">Register Now</span></a>
      </div>
      <div class="download-link">
        <a href="/download" class="btn btn-split btn-inverse btn-outline"><span class="btn-addon">↓</span><span class="btn-content">Download the app</span></a>
      </div>
    </div>
  </div>
</div>

<section class="tour-section">
  <div class="container">
    <h2>Put cash in your jeans with <%= image_tag 'logo-headline.png' %></h2>
    <div class="features">
      <div class="feature">
        <%= inline_svg 'icon-nextdaypay.svg' %>
        <h3>Next Day Pay</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="feature">
        <%= inline_svg 'icon-controlworkflow.svg' %>
        <h3>Control Your Workflow</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="feature">
        <%= inline_svg 'icon-transparency.svg' %>
        <h3>Transparency</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="feature">
        <%= inline_svg 'icon-reputation.svg' %>
        <h3>Manage Your Reputation</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
  </div>
</section>

<section class="features-section inverse">
  <div class="container">
    <h2>Find out what makes <%= image_tag 'logo-hero.png' %> amazing</h2>
    <div class="toggle-select-group user-type-toggle">
      <input type="radio" name="user-type" value="shipper" id="toggle-shipper">
      <label for="toggle-shipper">I pay to ship loads</label>
      <input type="radio" name="user-type" value="driver" id="toggle-driver" checked="">
      <label for="toggle-driver"><span class="toggle-select"></span> I get paid to ship</label>
    </div>
  </div>
  <div class="container features-container">
    <ul class="slider-nav"><li class="active"></li><li></li><li></li><li></li><li></li></ul>
    <div class="sales-pitch">
      <div class="slider features-slider">
        <div class="slides">
          <div class="slide">
            <h3>Driver, carrier & shipper profiles</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </div>
        </div>
        <div class="register-link">
          <a href="/register" class="btn btn-split btn-primary"><span class="btn-addon">☑</span><span class="btn-content">Register Now</span></a>
        </div>
        <div class="download-link">
          <a href="/download" class="btn btn-split btn-inverse btn-outline"><span class="btn-addon">↓</span><span class="btn-content">Download the app</span></a>
        </div>
      </div>
    </div>
    <div class="phone-demo-container"><div class="phone-demo-screen screen2"></div><div class="phone-demo"></div></div>
  </div>
</section>
