---
title: GO99
---

<section class="hero inverse" id="connecting">
  <div class="container">
    <div class="phone-demo-container"><div class="phone-demo-screen screen1"></div><div class="phone-demo"></div></div>
    <div class="sales-pitch">
      <header>
        <h1>Connecting Drivers<br> Directly to Shippers.</h1>
        <h3>Make money faster and<br> control your schedule</h3>
      </header>
      <%= partial 'partials/pages/index/app_links' %>
    </div>
  </div>

  <%= partial 'partials/pages/index/scroll_link', locals: { target: '#earning' } %>
</section>

<section class="tour-section" id="earning">
  <div class="container">
    <h2>Put cash in your jeans with <%= image_tag 'logo-headline.png' %></h2>
    <div class="features">
      <%- data[:index][:feature_slides].each do |slide| %>
        <div class="feature">
          <%= inline_svg (slide[:icon] || 'icon-nextdaypay.svg') %>
          <h5><%= slide[:title] %></h5>
          <p><%= slide[:subtitle] %></p>
        </div>
      <%- end %>
    </div>
  </div>

  <%= partial 'partials/pages/index/scroll_link', locals: { target: '#features' } %>
</section>

<section class="features-section inverse" id="features">
  <div class="sticky-zone">
    <div class="sticky-slider" data-scroll-trigger-for="drivers">
      <div class="container">
        <h2>Find out what makes <%= image_tag 'logo-hero.png' %> amazing</h2>
        <div class="toggle-select-group user-type-toggle">
          <input type="radio" name="user-type" value="shipper" id="toggle-shipper">
          <label for="toggle-shipper">I pay to ship loads</label>
          <input type="radio" name="user-type" value="driver" id="toggle-driver" checked="">
          <label for="toggle-driver"><span class="toggle-select"></span> I get paid to ship</label>
        </div>
      </div>
      <div class="container features-container">
        <%- slides = data[:index][:user_slides][:drivers] %>
        <ul data-scroll-slider-nav-for="drivers"></ul>
        <div class="sales-pitch">
          <div class="features-slider" data-scroll-slider="drivers">
            <%- slides.each do |slide| %>
              <div class="slide">
                <%= image_tag slide[:image], class: 'slide-image' %>
                <h5><%= slide[:title] %></h5>
                <p><%= slide[:subtitle] %></p>
              </div>
            <%- end %>
          </div>
          <%= partial 'partials/pages/index/app_links' %>
        </div>
      </div>
    </div>
  </div>

  <%= partial 'partials/pages/index/scroll_link', locals: { target: '#download' } %>
</section>

<section class="cta-section inverse" id="download">
  <div class="container">
    <h2>Make money faster and control your schedule</h2>
    <%= partial 'partials/pages/index/app_links' %>
  </div>
</section>
