---
title: Go99
---

<section class="hero inverse" id="connecting">
  <div class="container">
    <div class="phone-demo-container"><div class="phone-demo-screen screen1"></div><div class="phone-demo"></div></div>
    <div class="sales-pitch">
      <header>
        <h1>Connecting Drivers<br> Directly to Shippers.</h1>
        <h3>Make money faster and<br> control your schedule</h3>
      </header>
      <%= partial 'partials/pages/index/app_links' %>
    </div>
  </div>

  <%= partial 'partials/pages/index/scroll_link', locals: { target: '#earning' } %>
</section>

<section class="tour-section" id="earning">
  <div class="container">
    <h2>Cash in your<br class="mbl-break"> jeans with <%= inline_svg 'logo.svg' %></h2>
    <div class="features">
      <%- data[:index][:feature_slides].each do |slide| %>
        <div class="feature">
          <%= inline_svg (slide[:icon] || 'icon-nextdaypay.svg') %>
          <h5><%= slide[:title] %></h5>
          <p><%= slide[:subtitle] %></p>
        </div>
      <%- end %>
    </div>
  </div>

  <%= partial 'partials/pages/index/scroll_link', locals: { target: '#features' } %>
</section>

<section class="features-section inverse" id="features">
  <h2><%= inline_svg 'logo-rev.svg' %> Will<br class="mbl-break"> Change Your Business</h2>
  <div class="features-slider" data-flickity='{ "wrapAround": true }'>
    <%- data[:index][:user_slides].each_with_index do |driver_slide, i| %>
      <div class="slide">
        <%= image_tag driver_slide[:image], class: 'slide-image' %>
        <div class="text-container">
          <div class="text">
            <h4><%= driver_slide[:title] %></h4>
            <p><%= driver_slide[:subtitle] %></p>
          </div>
        </div>
      </div>
    <%- end %>
  </div>

  <%= partial 'partials/pages/index/scroll_link', locals: { target: '#download' } %>
</section>

<section class="cta-section inverse" id="download">
  <div class="container">
    <h2>Make money faster and<br class="mbl-break"> control your schedule</h2>
    <%= partial 'partials/pages/index/app_links' %>
  </div>
</section>
